*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
}
body{
    padding: 15px;
    background-color: green;
}
.nav{
    display: flexbox;
    text-align: center;
    padding: 10px;
    background-color: green;
    border: 2px solid black;
}
.container{
    display: flex;
    text-align: center;
    background-color: black;
    padding: 10px;
    /* border: 2px solid black; */
}
.child{
    flex-direction: row;
    flex-grow: 1;
    color: white;
    border-left: 5px dotted green;
}
.c3{
    border-right: 5px dotted red;
}