*{
    box-sizing: border-box;
}
body, html{
    margin: 0;
}
body{
    padding: 15px;
    background-color: black;
}
.nav{
    display: flexbox;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
    font-size: 2rem;
    color: hotpink;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 20px;
    /* border: 2px solid black; */
}
.nav:hover{
    font-size: 7rem;
    background-color: black;
}
.container{
    border-radius: 20px;
    display: flex;
    text-align: center;
    background-color: white;
    /* flex-wrap: nowrap; */
    padding: 10px;
    flex-direction: row;
    align-items: center;
    margin: 0px 50px 20px 50px;
    /* border: 2px solid black; */
}
.child{
    /* flex-direction: row-reverse; */
    /* flex-grow: 1; */
    color: hotpink;
    font-size: 4rem;
    /* border-left: 5px dotted pink; */
}
.c1{
    /* color: hotpink; */
    flex: 0 1 25%;
    border-left: 5px dotted hotpink;
}
.c2{
    border-left: 5px dotted hotpink;
    border-right: 5px dotted hotpink;
    border-style: none double;
    font-size: 6rem;
    flex: 0 1 50%;
    /* color: hotpink; */
    padding: 10PX 10px;
}
.c3{
    /* color: hotpink; */
    flex: 0 1 25%;
    border-right: 5px dotted hotpink;
}
.row{
    display: flex;
    background-color: white;
    color: hotpink;
    justify-content: center;
    border-radius: 25px;
    flex-wrap: wrap;
    margin-bottom: 15px;
    /* height: 300px; */
    /* padding: 10px; */
}
.innerRow{
    display: flex;
    /* border: 1px solid red; */
    flex: 0 1 95%;
    /* padding: 15px 15px; */
    justify-content: center;
    /* align-items: center; */
}
.box{
    margin: 10px 10px;
    font-size: 7rem;
    text-align: center;
    /* padding: 50px; */
    border-radius: 25px;
    align-self: center;
    border: 1px solid black;
}
.box:hover{
    background-color: hotpink;
    color: black;
}
.Left{
    /* margin-right: 5px; */
    /* align-items: flex-start; */
    /* align-self: flex-start; */
    flex: 0 1 47%;
    color: aqua;
}
.Left:hover, .Right:hover{
    flex: 0 1 80%;
}
.Right{
    flex: 0 1 47%;
    color: black;
    /* padding: 10px 120px; */
    /* align-self: flex-end; */
}
.Left30{
    flex: 0 1 30%;
    /* align-self: flex-start; */
}
.Mid30{
    /* margin-right: 15px;
    margin-left: 15px;  */
    flex: 0 1 30%;
}
.Right30{
    flex: 0 1 30%;
}
.First25{
    flex: 0 1 22%;
}
.Second25{
    flex: 0 1 22%;
}
.Third25{
    flex: 0 1 22%;
}
.Fourth25{
    flex: 0 1 22%;
}
.First20{
    flex: 0 1 17%;
}
.Second20{
    flex: 0 1 17%;
}
.Third20{
    flex: 0 1 17%;
}
.Fourth20{
    flex: 0 1 17%;
}
.Fifth20{
    flex: 0 1 17%;
}
